/* ===== Reset! ===== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ===== Variables ===== */
:root {
  --yellow-color: #f4d04e;
  --gray-color: #6b6b6b;
  --black-color: #121212;
  --border-radius: 1.25rem; /* ===== 20px ===== */
}

/* ===== Preview Card! ===== */
body {
  background-color: var(--yellow-color);
  height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Figtree", sans-serif;
  color: var(--black-color);
  font-weight: 500;
}
main {
  flex-grow: 1;
  display: flex;
  align-items: center;
}
.preview-card {
  background-color: white;
  width: 100%;
  max-width: 345px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 20px;
  border: 1px solid var(--black-color);
  border-radius: var(--border-radius);
  box-shadow: 8px 8px var(--black-color);
}
.illustration-img {
  width: 100%;
  border-radius: calc(var(--border-radius) / 2);
}
.tag {
  background-color: var(--yellow-color);
  font-size: 0.875rem;
  font-weight: 800;
  width: fit-content;
  padding: 5px 10px;
  border-radius: 4px;
}
.publication-date {
  font-size: 0.875rem; /* ===== 14px ===== */
}
h1 {
  font-size: 1.25rem; /* ===== 20px ===== */
  font-weight: 800;
}
h1 a {
  text-decoration: none;
  color: var(--black-color);
  cursor: pointer;
  transition: 0.3s;
}
h1 a:hover {
  color: var(--yellow-color);
}
h1 + p {
  color: var(--gray-color);
  font-size: 0.875rem; /* ===== 14px ===== */
  line-height: 1.5;
}
.publisher-container {
  display: flex;
  align-items: center;
  gap: 8px;
}
.avatar-img {
  width: 32px;
  height: 32px;
}
.publisher-name {
  font-size: 13px;
  font-weight: 800;
}
/* ===== Footer! ===== */
.attribution {
  font-size: 0.6875rem;
  text-align: center;
  padding: 1rem;
}
.attribution a {
  color: #3e52a3;
}
